*{
  padding: 0;
  margin: 0;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  justify-content: flex-start;
}

.content1 {
  display: flex;
  background-color: blue;
  min-width: 70vw;
  min-height: 70vh;
  border: 1px solid black;

}